:root{
  background-color: black;
  color: white;
}
.notes{
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 100px;
  align-items: center;
  justify-content: center;

}
.note{
  border: 2px dotted aqua;
  border-radius: 5px;
  padding: 5px 10px;
}
.note button{
  color: rgb(212, 60, 60);
  font-size: large;
}
form{
  padding: 30px 20px;
  display: flex;
  gap: 1rem;
}
form input{
  padding: 5px 8px;
}
form button{
  padding: 5px 10px;
  cursor: pointer;
}

.note .buttons{
  display: flex;
  gap:  2rem;
}